﻿@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');



//navbar full screen
.navbar-collapse.collapse.in{

    @media (max-width: 768px) {
        min-height: 100vh;

        .nav.navbar-nav {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 30px;
            min-height: 100vh;
        }
    }
}



.index-container {
    font-family: 'Prompt', sans-serif;

    .icon-bar {
        display: flex;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 5px;
        padding-right: 3px;

        i {
            cursor: pointer;
        }
    }

    .list-container {
        .list-item {
            display: flex;
            justify-content: flex-start;
            border: 1px solid #D3D3D3;
            margin: 5px 0 5px 0;

            .list-header {
                max-width: 150px;
                max-height: 150px;

                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center
                }
            }

            .list-content {
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 900;
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
            }


            .list-description {
                display: none;
            }

            @media (min-width: 768px) {
                justify-content: space-between;

                .list-content {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    font-weight: 900;
                    margin: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            @media (min-width: 992px) {
                .list-description {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    p {
                        font-size: 20px;
                        margin: 0;

                        &:nth-child(1) {
                            padding-right: 150px;
                        }
                    }

                    margin-right: 50px;
                }
            }

            @media (min-width: 1200px) {
                justify-content: space-between;

                .list-header {
                    max-width: 240px;
                    max-height: 159px;
                }
            }
        }
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;

        .card {
            border: 1px solid #D3D3D3;
            height: auto;

            .card-header {
                width: 100%;
                height: 200px;

                img {
                    min-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center
                }
            }

            .card-content {
                p {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    font-weight: 400;
                }

                h1 {
                    font-size: 30px;
                    font-weight: 900;
                    margin: 0;
                    margin-top: 7px;
                }

                text-overflow: ellipsis;
            }

            .card-footer {
                p {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-weight: 900;
                    margin: 0;
                    padding: 0;
                    margin-top: 15px;
                }

                padding-bottom: 10px;
            }

            .card-content, .card-footer {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}



.card:hover {
    cursor: pointer;
    box-shadow: 5px 10px #888888;
    

    img {
        opacity: 0.8
    }

    h1, p {
        transform: scale(.95)
    }
}

.a {
    background-color: red;



    @media (min-width: 768px) {
        background-color: royalblue;
    }
    @media (min-width: 992px) {
        background-color: saddlebrown;
    }
    @media (min-width: 1200px) {
        background-color: gold;
    }
}
