﻿@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@media (max-width: 768px) {
  .navbar-collapse.collapse.in {
    min-height: 100vh; }
    .navbar-collapse.collapse.in .nav.navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 30px;
      min-height: 100vh; } }

.index-container {
  font-family: 'Prompt', sans-serif; }
  .index-container .icon-bar {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 5px;
    padding-right: 3px; }
    .index-container .icon-bar i {
      cursor: pointer; }
  .index-container .list-container .list-item {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #D3D3D3;
    margin: 5px 0 5px 0; }
    .index-container .list-container .list-item .list-header {
      max-width: 150px;
      max-height: 150px; }
      .index-container .list-container .list-item .list-header img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .index-container .list-container .list-item .list-content {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 900;
      margin: 0;
      padding-left: 10px;
      padding-right: 10px; }
    .index-container .list-container .list-item .list-description {
      display: none; }
    @media (min-width: 768px) {
      .index-container .list-container .list-item {
        justify-content: space-between; }
        .index-container .list-container .list-item .list-content {
          display: flex;
          align-items: center;
          font-size: 22px;
          font-weight: 900;
          margin: 0;
          padding-left: 10px;
          padding-right: 10px; } }
    @media (min-width: 992px) {
      .index-container .list-container .list-item .list-description {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 50px; }
        .index-container .list-container .list-item .list-description p {
          font-size: 20px;
          margin: 0; }
          .index-container .list-container .list-item .list-description p:nth-child(1) {
            padding-right: 150px; } }
    @media (min-width: 1200px) {
      .index-container .list-container .list-item {
        justify-content: space-between; }
        .index-container .list-container .list-item .list-header {
          max-width: 240px;
          max-height: 159px; } }
  .index-container .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px; }
    .index-container .grid-container .card {
      border: 1px solid #D3D3D3;
      height: auto; }
      .index-container .grid-container .card .card-header {
        width: 100%;
        height: 200px; }
        .index-container .grid-container .card .card-header img {
          min-width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      .index-container .grid-container .card .card-content {
        text-overflow: ellipsis; }
        .index-container .grid-container .card .card-content p {
          margin-top: 10px;
          margin-bottom: 0px;
          font-weight: 400; }
        .index-container .grid-container .card .card-content h1 {
          font-size: 30px;
          font-weight: 900;
          margin: 0;
          margin-top: 7px; }
      .index-container .grid-container .card .card-footer {
        padding-bottom: 10px; }
        .index-container .grid-container .card .card-footer p {
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 900;
          margin: 0;
          padding: 0;
          margin-top: 15px; }
      .index-container .grid-container .card .card-content, .index-container .grid-container .card .card-footer {
        padding-left: 15px;
        padding-right: 15px; }
    @media (min-width: 768px) {
      .index-container .grid-container {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 992px) {
      .index-container .grid-container {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media (min-width: 1200px) {
      .index-container .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }

.card:hover {
  cursor: pointer;
  box-shadow: 5px 10px #888888; }
  .card:hover img {
    opacity: 0.8; }
  .card:hover h1, .card:hover p {
    transform: scale(0.95); }

.a {
  background-color: red; }
  @media (min-width: 768px) {
    .a {
      background-color: royalblue; } }
  @media (min-width: 992px) {
    .a {
      background-color: saddlebrown; } }
  @media (min-width: 1200px) {
    .a {
      background-color: gold; } }
