﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section styleBefore{
    <script>

    </script>
}
@section styleAfter{
    <script>

    </script>
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@section scripts{
    <script>

    </script>
}