﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}


<div class="index-container">
    <div class="icon-bar"><i id="swap-btn" class="fa-solid fa-list"></i></div>
    <div id="grid-container" class="grid-container">

    </div>

    <div class="list-container" id="list-container">
 
    </div>
</div>

@section scripts{
    <script>
        const contents = [
            {
            url:"https://cdn.pixabay.com/photo/2022/10/20/12/36/germany-7534750_960_720.jpg",
            date: "19 ธ.ค. 2564",
            content: "5 ข้อควรรู้เกี่ยวกับภาษีมนุษย์เงินเดือน",
            author: "Money"
            },
            {
            url:"https://cdn.pixabay.com/photo/2022/04/20/06/28/flowers-7144466_960_720.jpg",
            date: "19 ธ.ค. 2564",
            content: "ลงทุนกับเราตั้งเป้าได้เป็นล้าน: Early Retire แสนสบายบนทอง",
            author: "Money"
            },
            {
                url: "https://cdn.pixabay.com/photo/2022/08/24/17/28/horses-7408393_960_720.jpg",
                date: "19 ธ.ค. 2564",
                content: "เริ่มต้นวางแผนเก็บเงินล้านแรก",
                author: "Money"
            },
            {
                url: "https://cdn.pixabay.com/photo/2022/10/04/16/45/fern-7498658_960_720.jpg",
                date: "19 ธ.ค. 2564",
                content: "5 ทริปง่ายๆ สร้างรายได้ เน้นๆลงทนุนอสังหา ริมทรัพย์มือสอง",
                author: "Money"
            }]

        const gridContainer = document.getElementById('grid-container')
        const listContainer = document.getElementById('list-container')
        const swapBtn = document.getElementById('swap-btn')

    

        swapBtn.addEventListener('click', () => {
            if (swapBtn.classList.contains('fa-list')) {
                swapBtn.classList.remove('fa-list')
                swapBtn.classList.add('fa-table-cells-large')
                changeToList()
            } else {
                changeToGrid()
                swapBtn.classList.add('fa-list')
                swapBtn.classList.remove('fa-table-cells-large')
            }
        })

        function changeToGrid() {
            contents.forEach(item => {
                listContainer.innerHTML = ''
                const childEl = document.createElement('div')
                childEl.classList.add('card')
                childEl.innerHTML = `<div class="card-header">
                <img src="${item.url}" />
            </div>
            <div class="card-content">
                <p>${item.date}</p>
                <h1>${item.content}</h1>
            </div>
            <div class="card-footer">
                <p>${item.author}</p>
            </div>`
                gridContainer.appendChild(childEl)
            })
        }

        function changeToList() {
            contents.forEach(item => {
                gridContainer.innerHTML = ''
                const childEl = document.createElement('div')
                childEl.classList.add('list-item')
                childEl.innerHTML = `
                    <div class="list-header"><img src="${item.url}" /></div>
                    <div class="list-content">${item.content}</div>
                    <div class="list-description">
                        <p class="list-description-date">${item.date}</p>
                        <p class="list-description-author">${item.author}</p>
                    </div>
                `
                listContainer.appendChild(childEl)
            })
        }

        changeToGrid()
    </script>
}




